page-result {

  #loader-grid {
    height: 100%;
    ion-row {
      height: 100%;

      ion-col {
        text-align: center;
      }
    }

    .loader-spinner * {
      fill: #488aff;
      stroke: #488aff;
    }
  }

  #result-grid {
    height: 100%;
    text-align: center;

    ion-row {
      height: 100%;
    }

    #shade-circle {
      margin: 0 auto;
      border-radius: 50%;
      //background-color: #D5BCA9;
      background-color: lightgreen;
      width: 40vw;
      height: 40vw;
    }
  }

}
