page-result {

  #loader-grid {
    height: 100%;
    ion-row {
      height: 100%;

      ion-col {
        text-align: center;
      }
    }

    .loader-spinner * {
      fill: white;
      stroke: white;
    }
  }

  #result-grid {
    height: 100%;
    text-align: center;

    ion-row {
      height: 100%;
    }

    #shade-circle {
      margin: 0 auto;
      border-radius: 50%;
      border: 22px solid white;
      background-color: white;
      width: 40vw;
      height: 40vw;
    }

    #product-name {
      color: white;
    }

    #visit-product-button {
      background: linear-gradient(45deg, #FF6D00 0%, #FFAB40 100%);
    }
  }

}
